@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Montserrat', ui-sans-serif, system-ui;
  --font-body: 'Lato', ui-sans-serif, system-ui;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

@layer components {
  .container-section {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12;
  }
}

@layer components {
  .hover-underline-animation:hover {
    @apply shadow-xl bg-gray-800 rounded-full text-primary-500 transition-transform transform hover:scale-110;
  }
}


@keyframes bounce-right {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(8px);
  }
}

.animate-bounce-right {
  animation: bounce-right 1.2s infinite ease-in-out;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

.gap-\[-6px\] {
  gap: -6px;
}